@font-face {
    font-family: 'Mont-Heavy';
    src: url('../fonts/mont-heavy.ttf') format('truetype');

    font-family: 'Mont-Semi-Bold';
    src: url('../fonts/mont-semi-bold.ttf') format('truetype');

    font-family: 'Mont-Book';
    src: url('../fonts/mont-book.ttf') format('truetype');
  }

.tweetContainer {
   /*  border-top: 1px solid #C1A49A; */
    width: 41vw;
    min-height: 20vh;
    border-radius: 10px;
    background-color: #1B2D2A;
    padding: 2vh 2vw;
    margin: 2vh 2vw;
    overflow: hidden;
}

.authorInfos {
    width: 100%;
    height: 60px;
    display: flex;
}

.profilePic {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
  }

.authorName {
    font-family: 'Mont-Heavy';
    color: #E0D1CC;
    margin-left: 1vw;
}

.username {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #C1A49A;
    font-size: 14px;
}

.point {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #C1A49A;
    font-size: 14px;
}

.date {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #C1A49A;
    font-size: 14px;
}

.content {
    padding: 1vh 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #E0D1CC;
    font-size: 16px;
}

.likes {
    color: #E0D1CC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 1vw;
}

.linkText {
    font-family: 'Mont-Heavy';
    color: #C1A49A;
    cursor: pointer;
}